video {
  margin: 5px 0px 0px 5px;
  object-fit: cover;
  border: 2px solid rgb(251, 216, 127);
  border-radius: 7px;
  /* border-image: linear-gradient(45deg, rgb(124, 66, 218), rgb(233, 30, 99)) 1; */
}
